/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* page style begins */

#content {
   display: grid;
   grid-template-rows: 1fr 3fr 2fr; 
   justify-items: center;
   align-items: center;
   height: 100vh;
   min-height: 100%;
}

/* main weather style */

#weatherBox {
    grid-row: 2 / 3;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    background-color: rgb(100, 149, 237, 0.2);
    border-radius: 20px;
    padding: 20px;
}

#cityName {
    grid-column: 1 / 2;
    font-size: 40px;
}

#tempInfo {
    font-size: 70px;
    grid-area: 2 / 2 / 3 / 3;
}

#tempDesc {
    grid-area: 3 / 1 / 4 / 3;
}

/* alt weather style */

#weatherFooter {
    background-color: rgba(12, 37, 120, 0.2);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
}

#weatherAlt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.altBox {
    text-align: center;
}

#windBox {
    display: flex;
    gap: 10px;
}

/* icon style */

.icon {
    width: 200px;
    height: 200px;
    grid-area: 2 / 1 / 3 / 2;
}

[id='01d'] {
    background-image: url('media/cleard.svg');
}

[class='01dbackground'] {
    background-image: url('media/cleardbackground.jpg');
    background-size: cover;
}

[id='01n'] {
    background-image: url("media/clearn.svg");
}

[class='01nbackground'] {
    background-image: url('media/clearnbackground.jpg');
    background-size: cover;
}

[id='02d'] {
    background-image: url("media/cloudd.svg");
}

[class='02dbackground'] {
    background-image: url('media/clouddbackground.jpg');
    background-size: cover;
}

[id='02n'] {
    background-image: url("media/cloudn.svg");
}

[class='02nbackground'] {
    background-image: url('media/cloudnbackground.jpg');
    background-size: cover;
}

[id='03d'], [id='03n'], [id='04d'], [id='04n'] {
    background-image: url("media/cloudy.svg");
}

[class='03dbackground'], [class='03nbackground'], [class='04dbackground'], [class='04nbackground'] {
    background-image: url("media/cloudybackground.jpg");
    background-size: cover;
}

[id='09d'], [id='09n'] {
    background-image: url("media/rainstorm.svg");
}

[class='09d'], [class='09n'] {
    background-image: url("media/rainstormbackground.jpg");
    background-size: cover;
}

[id='10d'], [id='10n'] {
    background-image: url("media/rain.svg");
}


[class='10dbackground'], [class='10nbackground'] {
    background-image: url("media/rainbackground.jpg");
    background-size: cover;
}

[id='11d'], [id='11n'] {
    background-image: url("media/storm.svg");
}

[class='11dbackground'], [class='11nbackground'] {
    background-image: url("media/stormbackground.jpg");
    background-size: cover;
}

[id='13d'], [id='13n'] {
    background-image: url("media/snow.svg");
}

[class='13dbackground'], [class='13nbackground'] {
    background-image: url("media/snowbackground.jpg");
    background-size: cover;
}

[id='50d'], [id='50n'] {
    background-image: url("media/mist.svg");
}

[class='50dbackground'], [class='50nbackground'] {
    background-image: url("media/mistbackground.jpg");
    background-size: cover;
}